.buttons {
    display: flex;
    flex-wrap: wrap;
}

.buttons__button {
    border: none;
    background-color: transparent;
    color: teal;
    margin-left: 10px;
    transition: color 0.4s;
}

.buttons__button:hover {
    color: hsl(180, 100%, 35%);
}

.buttons__button:active {
    color: hsl(180, 100%, 40%);
}

.buttons__button--hidden {
    visibility: hidden;
}

.buttons__button:disabled {
    color: #ccc;
}

@media (max-width: 767px) {
    .buttons__button {
        margin: 10px;
        flex-basis: 100%;
    }
}